services:
  mongo:
    image: mongo:7
    container_name: facturacion-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: facturacion-backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: facturacion-frontend
    ports:
      - "5173:80"
    restart: always

volumes:
  mongo_data: